@model Bio
<header id="Navbar">
    <div class="container containerPosetion">
        <div class="row mt-5">
            <div class="col-lg-12 colFlex">
                <div class="logo">
                    <a href="#"> <img src="~/images/@Model.Logo" alt="#"></a>
                </div>
                <div class="menu mt-2">
                    <ul>
                        <li class="home">
                            <a href="#">Home</a>
                            <div class="homeMenu color invisible">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index">Main Home</a></li>
                                    <li><a href="#">Grid Home</a></li>
                                    <li><a href="#">Flower Shop</a></li>
                                    <li><a href="#">Animated Slider</a></li>
                                    <li><a href="#">Metro Showcase</a></li>
                                    <li><a href="#">Carousel Showcase</a></li>
                                    <li><a href="#">Landing</a></li>
                                </ul>
                            </div>
                        </li>

                        <li id="Pages">
                            <a href="#">Pages</a>
                            <div class="pagesMenu color invisible">
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">FAQ Page</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </li>
                        <li id="Shop">
                            <a href="#">Shop</a>
                            <div class="shopMenu color">

                                <ul>
                                    <h4>Product Types</h4>
                                    <li><a asp-controller="Product" asp-action="Index">All Product</a></li>
                                    <li><a href="#">Grouped Product</a></li>
                                    <li><a href="#">Variable Product</a></li>
                                    <li><a href="#">Virtual Product</a></li>
                                    <li><a href="#">External Product</a></li>
                                    <li><a href="#">Downloadable Product</a></li>
                                    <li><a href="#">On Sale Product</a></li>
                                    <li><a href="#">Out of Stock Product</a></li>
                                    <li><a href="#">New Product</a></li>
                                </ul>

                                <ul>
                                    <h4>Shop Pages</h4>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Cart</a></li>
                                    <li><a href="#">Checkout</a></li>
                                    <li><a href="#">Orders</a></li>
                                    <li><a href="#">Downloads</a></li>
                                </ul>
                                <ul>
                                    <h4>Shop Types</h4>
                                    <li><a href="#">Product List</a></li>
                                    <li><a href="#">Without Sidebar</a></li>
                                    <li><a href="#">With Category Filter</a></li>
                                    <li><a href="#">With Ordering Filter</a></li>
                                    <li><a href="#">Shop Carousel</a></li>
                                    <li><a href="#">Product Categories</a></li>
                                    <li><a href="#">Single Category</a></li>
                                </ul>
                                <ul>
                                    <h4>Shop Layouts</h4>
                                    <li><a href="#">Two Columns Grid</a></li>
                                    <li><a href="#">Three Columns Grid</a></li>
                                    <li><a href="#">Four Columns Grid</a></li>
                                    <li><a href="#">Five Columns Wide</a></li>
                                    <li><a href="#">Six Columns Wide</a></li>
                                    <li><a href="#">Product Categories</a></li>
                                </ul>
                            </div>
                        </li>
                        <li id="Portfolio">
                            <a href="#">Portfolio</a>
                            <div class="portfolioMenu color invisible">
                                <ul>
                                    <li><a href="#">Standard</a></li>
                                    <li><a href="#">Gallery</a></li>
                                    <li><a href="#">Masonry</a></li>
                                    <li id="portfolioLayouts">
                                        <a href="#">
                                            Portfolio Layouts<i class="fas fa-angle-right ml-2"></i>
                                        </a>
                                        <div class="portfolioLayouts invisible ">
                                            <ul>
                                                <li><a href="#">Two Columns Grid</a></li>
                                                <li><a href="#">Three Columns Grid</a></li>
                                                <li><a href="#">Four Columns</a></li>
                                                <li><a href="#">Four Columns Grid</a></li>
                                                <li><a href="#">Five Columns Wide</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li id="portfolioSingle">
                                        <a href="#">
                                            Portfolio Single <i class="fas fa-angle-right ml-3"></i>
                                        </a>
                                        <div class="portfolioSingle color invisible">
                                            <ul>
                                                <li><a href="#">Small Images</a></li>
                                                <li><a href="#">Small Slider</a></li>
                                                <li><a href="#">Big Images</a></li>
                                                <li><a href="#">Big Slider</a></li>
                                                <li><a href="#">Gallery</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        @* <li id="Blog">
                          <a href="#">Blog</a>
        <div class="blogMenu color  invisible">
            <ul>
                <li><a href="#">Masonry</a></li>
                <li><a href="#">Standard</a></li>
                <li id="PostTypes">
                    <a href="#">
                        Post Types <i class="fas fa-angle-right ml-2"></i>
                    </a>
                    <div class="postTypes invisible">
                        <ul>
                            <li><a href="#">Standard</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Quote</a></li>
                            <li><a href="#">Audio</a></li>
                            <li><a href="#">Video</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
                    </li>
                        *@

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li id="Elements">
                                @ViewBag.LoginUser
                            </li>


                            <li style=" background-color: none !important;">
                                <a asp-controller="Account" asp-action="LogOut" class="btn btn-danger" style="padding:5px;font-size:14px;margin-left:7px;">
                                    Log Out
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Account" asp-action="LogIn" class="btn btn-primary"  style="padding:5px;font-size:14px;">Login</a>
                            </li>

                        }



                        @*<a href="#">Elements</a>
        <div class="elementsMenu color invisible">
            <ul>
                <li id="Classic">
                    <a href="#">
                        Classic <i class="fas fa-angle-right ml-5"></i>
                    </a>
                    <div class="classicMenu color invisible">
                        <ul>
                            <li><a href="#">Accordions</a></li>
                            <li><a href="#">Tabs</a></li>
                            <li><a href="#">Buttons</a></li>
                            <li><a href="#">Video Button</a></li>
                            <li><a href="#">Contact Form</a></li>
                            <li><a href="#">Buttons</a></li>

                        </ul>
                    </div>
                </li>
                <li id="Infographic">
                    <a href="#">
                        Infographic <i class="fas fa-angle-right ml-2"></i>
                    </a>
                    <div class="infographicMenu color invisible">
                        <ul>
                            <li><a href="#">Blog List</a></li>
                            <li><a href="#">Counters</a></li>
                            <li><a href="#">Countdown</a></li>
                            <li><a href="#">Google Maps</a></li>
                            <li><a href="#">Progress Bar</a></li>
                            <li><a href="#">Pie Charts</a></li>

                        </ul>
                    </div>
                </li>
                <li id="Interactive">
                    <a href="#">
                        Interactive <i class="fas fa-angle-right ml-3"></i>
                    </a>
                    <div class="interactiveMenu color invisible">
                        <ul>
                            <li><a href="#">Image Gallery</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Banner</a></li>
                            <li><a href="#">Shop List</a></li>
                            <li><a href="#">Portfolio List</a></li>
                        </ul>
                    </div>
                </li>
                <li id="Typography">
                    <a href="#">
                        Typography <i class="fas fa-angle-right ml-2"></i>
                    </a>
                    <div class="typographyMenu color invisible">
                        <ul>
                            <li><a href="#">Headings</a></li>
                            <li><a href="#">Columns</a></li>
                            <li><a href="#">Section Title</a></li>
                            <li><a href="#">Blockquote</a></li>
                            <li><a href="#">Dropcaps</a></li>
                            <li><a href="#">Highlights</a></li>
                            <li><a href="#">Separators</a></li>
                            <li><a href="#">Custom Font</a></li>
                        </ul>
                        </div>
                </li>
            </ul>
        </div>*@

                    </ul>
                 </div>
                <div class="iconsSearch mt-2">
                    <ul class="p-0" style="margin-left:-12px" id="search">
                        <li >
                            <a href="#"><i class="fas fa-search"></i></a>
                        </li>
                        <li style="margin-left:-12px;">
                            <a asp-controller="Home" asp-action="Basket"><i class="fas fa-shopping-cart"></i> <sup>@ViewBag.basketProdCount</sup> <span style="font-size:14px">CART($@ViewBag.basketProdPrice)</span> </a>

                        </li>
                    </ul>

                    <div class="search invisible">
                        <input type="text" placeholder="search">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>