@model Bio
<footer>
    <!-- Footer menu section start -->
    <section id="FooterMenu">
        <div class="container">
            <div class="row">

                <div class="col-lg-3">
                    <h5>CUSTOMER SERVICE</h5>

                    <div class="serviceMenu">

                        <ul>
                            <li><a href="#">Help & Contact Us</a></li>
                            <li><a href="#">Returns & Refunds</a></li>
                            <li><a href="#">Online Stores</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5>COMPANY</h5>
                    <div class="companyMenu">
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Order Tracking</a></li>
                            <li><a href="#">FAQ Page</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5>SOCIAL MEDIA</h5>
                    <div class="social">
                        <ul>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Tumblr</a></li>
                            <li><a href="#">Pinterest</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5>ARCHIVE</h5>
                    <div class="archiveMenu">
                        <ul>
                            <li><a href="#">Designer Shoes</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Feature Index</a></li>
                            <li><a href="#">Login </a></li>
                            <li><a href="#">Help & Support</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Footer menu section end -->
    <!-- Autor section start  -->
    <section id="Author">
        <div class="container">
            <hr>
            <div class="row ">

                <div class="col-lg-4">
                    <div class="by_whom ">
                        <ul class="p-0">
                            <li>Powered by<a href="#">Abulfat Mammadov</a>2019</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="payment">
                        <a href="#"><img src="images/footer-bottom-1.png" alt="#"></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footerSocial">
                        <ul>
                            <li><a href="#">@Model.Instagram</a></li>
                            <li><a href="#">@Model.Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Autor section end  -->

</footer>