@model Category
<div class="row">
    <div class="col-12">
      <h3>@Model.Name</h3>
        <h5 class="mt-3">@Model.Description</h5>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-12">
        <a asp-action="Index" class="btn btn-dark">Go Back</a>

    </div>

</div>

